language: julia

os:
  - linux
  - osx
  - windows

julia:
  - 1.5
  - nightly


notifications:
  email: false

after_success: skip

jobs:
  allow_failures:
  - julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.5
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs/ docs/make.jl
      after_success: skip

